<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SnowIO\ExtendedProductRepositoryEE\Api\Data\SpecialPriceMappingInterface" type="SnowIO\ExtendedProductRepositoryEE\Model\SpecialPriceMapping" />
    <preference for="Magento\Staging\Model\Update\Validator" type="SnowIO\ExtendedProductRepositoryEE\Model\Update\Validator" />
</config>
